 @media only screen and (max-width:641px){
 	body {
 background-image: url("../images/bg-intro-mobile.png");
 background-color: rgb(255, 102, 102)!important;
}
 }
  @media only screen and (max-width:361px){
 	body {
 background-image: url("../images/bg-intro-mobile.png");
 background-color: rgb(255, 102, 102)!important;
}
    .description p:nth-child(1) {
  font-size: 122px;
    width: 123rem;
}
.description p:nth-child(2) {
  font-size: 44px;
    width: 100rem;
}
    section{
    	position: absolute;
        top: 84rem;
        left: -84rem;
    }
    .register{
    	width: 119rem;
    	height: 126rem;
    }
    .register input{
    	width: 112rem;
    	height: 19rem;
        font-size: 40px;
    }
    .upgrade{
    	width: 120rem;
        height: 13rem;
        margin-top: -104px;
    }
    .upgrade p,span{
         font-size: 59px;
    }
    .upgrade span{
         margin-left: -60px;
         font-size: 53px;
    }
    button{
        width: 112rem;
    	height: 19rem;
    }
    button p{
        font-size: 44px;
    }
    .end p{
    	  font-size: 38px;
          display: inline;
    }
    .end span{
    	font-size: 39px;
        display: inline-block;
    }
    .end{
    padding: 10px;
    width: 100rem;
    padding-left: 142px;
    }
 } 