*{
	margin: 0;
	padding: 0;
}
body {
 background-image: url("../images/bg-intro-desktop.png");
 background-color: rgb(255, 102, 102)!important;
}
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
.description{
	position: absolute;
	font-size: 20px;
	left: 100px;
	top: 162px;
	color: white;
}
.description p:nth-child(1) {
  font-family: 'Fredoka One', cursive;

  font-size: 55px;
  width: 444px;
}
.description p:nth-child(2) {
  margin-top: 15px;
  font-size: 16px;
  width: 444px;
  font-family: 'Assistant', sans-serif;
}
.upgrade {
    position: absolute;
    top: 95px;
    left: 887px;
    background-color: #6b00b3;
    width: 502px;
    height: 50px;
    border-radius: 7px;
    padding-left: 80px;
    padding-top: 14px;
    box-shadow: 0px 12px 7px -3px rgba(0,0,0,0.75);;
}
.upgrade span{
	width: 400px;
	font-weight: bold;
	display: inline;
  color: white;
  font-size: 18px;
}
.upgrade p{
display: inline-block;
font-size: 18px;
color: white;
}
.register {
    background-color: white;
    position: absolute;
    top: 180px;
    left: 896px;
    width: 487px;
    height: 462px;
    border-radius: 34px;
    box-shadow: 0px 12px 7px -3px rgba(0,0,0,0.75);;
}
.register input{
	padding-left: 20px;
	display: block;
    width: 400px;
    height: 42px;
    margin-top: 28px;
    margin-left: 37px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: none !important;
    border: 1px solid grey !important;
}
.register input:focus{
  outline: none;
  border: 1.5px solid black!important;

}
button{
	width: 402px;
	height: 50px;
	background-color: #00cc66;
	margin-left: 36px!important;
	margin-top: 30px!important;
  border-radius: 13px;
}
button p{
  color: white;
  margin-top: 3px;
}
.end span{
	width: 400px;
	font-weight: bold;
	display: inline;
	font-size: 14px;
	color: red;
}
.end p{
display: inline-block;
font-size: 14px;
color: grey;
}
.end{
	margin-top: 15px;
	margin-left: 25px;
}